# Hugo 默认生成的目录
/public/
/resources/_gen/
/assets/jsconfig.json
/.hugo_build.lock

# Node 模块（如果你使用了任何 Node.js 工具）
node_modules/

# 操作系统生成的文件
.DS_Store
Thumbs.db

# 编辑器/IDE 生成的目录和文件
.idea/
.vscode/
*.swp
*.swo
*~

# 临时文件
tmp/
temp/